{% extends "layout/base.html" %}
{% load static %}
{% block container %}
    <div class="container main-sec">
        <div class="cng-pw-title d-flex justify-content-between mt-4">
            <p>Change Password <span>
                    ( पासवर्ड परिवर्तन् )</span>
            </p>

            <div class="kit-text-navigation">
                <p>Applicant Portal
                    <span> > </span> Change Password
                </p>
            </div>
        </div>
        
        {% for message in messages %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
            
        <div class="row  mb-4 user-form">
            <div class="form-sm-container">
                <form action="{% url 'change-password' %}" method="post" class="user-form-main">
                    {% csrf_token %}

                    <div class="  form-bdr ">

                        <div class="row">
                            <div class="col-sm-6">
                            <label for="exampleInputFullName" class="form-label">Current Password</label>


                            <div class="input-container">
                                <img class="login-icon-left" src="{% static '/image/lock-alt.svg' %}" alt="">

                                <input type="password" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="passwordHelp" placeholder="Enter your Password" name="current_password">
                            </div>
                        </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <label for="exampleInputFullName" class="form-label">New Password</label>


                                <div class="input-container">
                                    <img class="login-icon-left" src="{% static '/image/lock-alt.svg' %}" alt="">

                                    <input type="password" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="passwordHelp" placeholder="Enter your Password" name="new_password">
                                </div>

                            </div>
                            <div class="col-sm-6">
                                <label for="exampleInputFullName" class="form-label">Re-type New Password</label>


                                <div class="input-container">
                                    <img class="login-icon-left" src="{% static '/image/lock-alt.svg' %}" alt="">

                                    <input type="password" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="passwordHelp" placeholder="Enter your Password" name="retype_password">
                                </div>

                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>

                </form>
            </div>
        </div>
    </div>
{% endblock %}
