{% extends "layout/base.html" %}
{% load static %}
{% block container %}
<div class="container my-5" style="min-height: 63vh;">
    <div class="cng-pw-title d-flex justify-content-between mt-4">
        <p class="kit-page-heading">Frequently asked questions <span>( प्रायः सोधिने प्रश्नहरू )</span>
        </p>
        <div class="kit-text-navigation">
            <p>Applicant Portal<span> > </span> FAQs
            </p>
        </div>
    </div>
    {% for message in messages %}
            {{message}}
        {% endfor %}
    <div class="row mb-4">
      <div class="col-md-10"></div>
      <div class="col-md-2">
        <a href="{% url 'faq-create' %}">
          <button class="kit-form-button m-0">Add FAQs</button>
        </a>
      </div>
    </div>
    
    <ol class="list-group list-group-numbered my-3">
      {% for f in faq %}
        <li class="list-group-item d-flex justify-content-between align-items-start faq-list">
          <div class="ms-2 me-auto">
            <div class="fw-bold">{{ f.question }}</div>
            {{ f.answer }}
          </div>
          <div>
            <a href="{% url 'faq-edit' faq_id=f.id %}"><span class="badge pill edit-pill">Edit</span></a>
            <a href="{% url 'faq-delete' faq_id=f.id %}" onclick="return confirm('Are you sure you want to delete this faq?');" class="kit-card-link"><span class="badge pill delete-pill ms-2">Delete</span></a>
        </div>
        </li>
        {% endfor %}
      </ol>
    
</div>
{% endblock %}