{% extends "layout/base.html" %}
{% load static %}
{% block container %}
    <div class="container main-sec">
        <div class="cng-pw-title d-flex justify-content-between mt-4">
            <p>Industry Lists(  उद्योग खोज )</p>

            <div>
                <p>Applicant Portal
                    <span> > </span> Industry Lists
                </p>
            </div>
        </div>
        <div class="row table-sec">

            <div class="d-flex form-view-more">
                <p> Industry Lists(  उद्योग खोज )</p>
                
            </div>
            <table >
                <tr>
                  <th>S.no</th>
                  <th>Industry Name </th>
                  <th>View</th>
                </tr>
                {% for i in industry %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ i.industry_name }}</td>
                  <td><a href="{% url 'myindustry-profile' industry_id=i.id %}" class="user-edit">View More</a></td>
                </tr>
                {% endfor %}
              </table>
        </div>
    </div>
{% endblock %}