<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>PDF Industry</title>
    <style>
        h1 {
            text-align: center;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
        }
    </style>
</head>

<body id="industryList_whole">
    <h1>List of Industries</h1>
    <table class="report-view-table" id="industryList">
        <thead>
            <tr>
                <th>S.no</th>
                <th>industry name</th>
                <th>industry owner</th>
                <th>address</th>
                <th>Phone no.</th>
                <th>Ownership</th>
            </tr>
        </thead>
        <tbody>
        {% for i in industry %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ i.industry_name }}</td>
                <td>{{ i.owner_name }}</td>
                <td>{{ i.address }}</td>
                <td>{{ i.telephone_number }}</td>
                <td>{{ i.get_ownership_display }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js" integrity="sha512-GLcXzS6N6/DyeyChNch92W8YmMTZR0fI3n3IMjz/n74mmn/1Grs0X1JyKnusB/bBd9eQRRsGH4Q8JKPyPJoBlw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.22/jspdf.plugin.autotable.min.js" integrity="sha512-k3TfuT8GGg/Ocxi4gu2/bMF3kBe8XBSV3pfb6IHLtGeAl8TjDLQ5y8xjLY7IgTTgr5PrpMX0vI1c8fVLROBa6A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        function generatePDF() {
            const doc = new jsPDF();
            doc.autoTable({ html: '#industryList' });
            doc.save('industry_list.pdf');
        }

        generatePDF();
    </script>
</body>
</html>
