{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>PDF Industry</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <table class="table" id="industryList_whole">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Industry Name</th>
                    <th>Owner Name</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Ownership</th>
                </tr>
            </thead>
            <tbody>
            {% for i in industry %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ i.industry_name }}</td>
                    <td>{{ i.owner_name }}</td>
                    <td>{{ i.address }}</td>
                    <td>{{ i.telephone_number }}</td>
                    <td>{{ i.get_ownership_display }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        let element = document.getElementById('industryList_whole')
        html2pdf(industryList_whole,{
        margin:10,
        filename:'industry_list.pdf',
        html2canvas:{scale:2,logging:true,dpi:192,letterRendering:true},
        jsPDF:{unit:'mm',format:'a4',orientation:'portrait'}
        })
        </script>
</html>